.catalog {
	padding-bottom: 100px;

	&__tabs {
		margin-top: 70px;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		padding: 0;
	}

	&__tab {
		width: 222px;
		height: 52px;
		border: 2px solid #D0D0D0;
		color: #6B6B6B;
		font-weight: 400;
		font-size: 18px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		transform: skewX(-25deg);
		margin: 0 5px;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:hover {
			box-shadow: 3px 3px 20px $main-color;
			border: none;
		}

		div {
			transform: skewX(25deg);
		}

		&_active {
			background-color: $main-color;
			color: #FFFFFF;
			border: none;
		}
	}

	&__content {
		margin-top: 60px;
		display: none;
		flex-wrap: wrap;

		&_active {
			display: flex;
		}
	}

	&-item {
		display: flex;
		flex-direction: column;
		padding: 20px 20px 27px 20px;
		max-width: 290px;
		background: #FFFFFF;
		border: 2px solid #E8E8E8;
		overflow: hidden;
		margin: 0px 8px 15px 8px;
		position: relative;

		&__wrapper {
			display: flex;
			width: calc(200% + 40px);
			flex: 1 1 auto;
		}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 50%;
			margin-right: 0px;
			transform: translateX(-110%);
			transition: all 0.3s ease 0s;

			&_active {
				transform: translateX(0%);
				margin-right: 20px;
			}
		}

		&__list {
			width: 50%;
			margin-left: 20px;
			transform: translateX(0%);
			transition: all 0.3s ease 0s;
			padding-right: 20px;
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;

			&_active {
				transform: translateX(-100%);
				margin-left: 0px;
			}

			li {
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				color: #555555;
				margin-bottom: 10px;
				position: relative;
				padding-left: 15px;

				&::before {
					content: "";
					display: block;
					position: absolute;
					width: 8px;
					height: 8px;
					background: #C70101;
					top: 7px;
					left: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__back {
			position: absolute;
			bottom: 3px;
			left: 50%;
			transform: translateX(calc(-50% - 15px));
			display: block;
			color: $main-color;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;

			&:hover {
				text-decoration: none;
				color: $main-color;
			}

			&:before {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: $main-color;
				transition: all 0.3s ease 0s;
			}

			&:hover:before {
				width: 0%;
			}

		}

		&__img {
			max-height: 200px;

			img {
				height: 100%;
			}
		}

		&__subtitle {
			margin-top: 15px;
			font-weight: 700;
			font-size: 16px;
			color: #0D0D0D;
			text-align: center;
		}

		&__descr {
			margin: 15px 0 15px;
			text-align: center;
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			color: #0D0D0D;
		}

		&__link {
			font-weight: 500;
			font-size: 14px;
			color: $main-color;
			text-transform: uppercase;
			position: relative;
			text-decoration: none;
			

			&:hover {
				text-decoration: none;
				color: $main-color;
			}

			&:before {
				content: "";
				position: absolute;
				bottom: 2px;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: $main-color;
				transition: all 0.3s ease 0s;
			}

			&:hover:before {
				width: 0%;
			}
		}

		hr {
			width: 100%;
			margin: 17px 0;
			border: 1px solid #d2cbcb;
			border-bottom: none;
		}

		&__footer {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__old-price {
			color: #555555;
			font-weight: 300;
			font-size: 14px;
			line-height: 14px;
			text-decoration-line: line-through;
		}

		&__price {
			margin-top: 3px;
			color: #050505;
			font-weight: 700;
			font-size: 20px;
		}
	}
}