.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, .56);
	display: none;
}

.modal {
	padding: 35px 40px 35px 40px;
	max-width: 382px;
	min-height: 402px;
	background: #F2F2F2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #0D0D0D;
	text-align: center;

	&__close {
		position: absolute;
		font-size: 30px;
		top: -13px;
		line-height: 41px;
		right: -30px;
		cursor: pointer;
		color: $main-color;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 19px;
		line-height: 19px;
	}

	&__descr {
		margin-top: 5px;
		font-weight: 700;
		font-size: 14px;
		line-height: 14px;

		&_mini {
			margin-top: 8px;
			line-height: 22px;
		}
	}

	&_mini {
		min-height: 143px;
	}

	.error {
		font-size: 13px;
		border: 1px solid red;
		&:active,
		&:focus {
			border: none;
		}
	}

	label.error {
		border: none;
	}
}

#consultation,
#order,
#thanks {
	display: none;
}